.link {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;

    div {
        position: relative;

        div {
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: max(2px, 0.12em);
                background-color: fuchsia;
                opacity: 0;
                transition: opacity 300ms, transform 300ms;
                transform: scaleX(0) scaleY(1);
                transform-origin: center;
            }
        }
    }

    &:hover div div::after,
    &:focus div div::after {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}
