main {
    max-width: 960px;
}

.landing {
    justify-content: center;
    max-width: 100%;

    & > .column {
        max-width: 100%;

        flex-grow: 1;
        flex-direction: column;

        .spacer {
            flex-grow: 1;
        }

        .header {
            .logo {
                width: 512px;
            }
        }
    }
}

.code {
    max-width: 90%;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;

    background-color: rgb(39, 40, 34);

    font-size: .8em;
    font-family: monospace;
}

@media (max-width: 1100px) {
    .code {
        overflow-x: auto;
    }
}

@media (max-width: 970px) {
    .spacer {
        display: none;
    }

    .logo {
        display: none;
    }
}
